@page "/MessageTemplates"
@page "/MessageTemplates/{MessageTemplateID}"

@using VehicleManager.Models
@using VehicleManager.Services
@using VehicleManager.Shared
@using VehicleManager.Components
@using System.Net
@using Microsoft.AspNetCore.Components.QuickGrid
@using TinyMCE.Blazor
@using System.Globalization
@using System.Reflection
@using System.Linq.Expressions

@inject HttpClient Http
@inject IConfiguration configuration
@inject NavigationManager NavManager
@inject ILogger<MessageTemplateModel> Logger
@inject AppData appData

<PageTitle>Message Templates @@ Broken Motor</PageTitle>

<audio src="@soundEffect" autoplay></audio>

<Modal @ref="modalInfo">
    <WindowControls>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" @onclick="() => modalInfo!.Close()"></button>
    </WindowControls>
    <Title><i class="fa-solid fa-circle-info"></i> @msgInfoTitle</Title>
    <Body>
        @msgInfo
    </Body>
    <Footer>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" @onclick="() => modalInfo!.Close()">Close</button>
    </Footer>
</Modal>

<Modal @ref="modalError">
    <WindowControls>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" @onclick="() => modalError!.Close()"></button>
    </WindowControls>
    <Title><i class="fa-solid fa-triangle-exclamation"></i> @msgErrorTitle</Title>
    <Body>
        <div class="alert alert-danger" role="alert">
            @msgError
        </div>
        @if (msgErrorStackTrace != null)
        {
            <p><i class="fa-solid fa-bug"></i> Stack Trace:</p>
            <pre class="pre-scrollable ErrorDetails">@msgErrorStackTrace</pre>
        }
    </Body>
    <Footer>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" @onclick="() => modalError!.Close()">Close</button>
    </Footer>
</Modal>

<Modal @ref="modalConfirm">
    <WindowControls>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" @onclick="() => modalConfirm!.Close()"></button>
    </WindowControls>
    <Title><i class="fa-solid fa-circle-question"></i> @msgConfirmTitle</Title>
    <Body>
        <p>
            @msgConfirm
        </p>
    </Body>
    <Footer>
        <button type="button" class="btn btn-danger" @onclick="FormAction"><i class="fa-solid fa-trash"></i> Yes</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" @onclick="() => modalConfirm!.Close()"><i class="fa-solid fa-right-from-bracket"></i> Cancel</button>
    </Footer>
</Modal>

<h3><i class="fa-solid fa-message"></i> Message Templates</h3>

@if (loadDataErrorMsg != null) 
{
    <div class="container">
        <div class="row">
            <div class="col-md">
                <div class="alert alert-danger hstack gap-3" role="alert">
                    <div>
                        <h1><i class="fa-solid fa-triangle-exclamation"></i></h1>
                    </div>
                    <div>
                        <p>
                            @loadDataErrorMsg
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else if (mainRecords == null)
{
    <div class="container">
        <div class="row">
            <div class="col-md">
                <div class="alert alert-primary text-center" role="alert">
                    <h1>
                        <i class="fa-solid fa-spinner fa-spin"></i> Loading ...
                    </h1>
                </div>
            </div>
        </div>
    </div>
}
else {
    <div class="container-fluid">
        @{
            IList<string> ExcludeMainFields = new List<string> { "TemplateContent", "Messages" };
            string? DisabledItemFieldName = "IsEnabled";
            string? ErrorItemFieldName = "";
        }
        <Grid Items="ItemsMain"
        ExcludeFields="ExcludeMainFields"
        FilterFields="FilterFieldsMain"
        DisabledItemFieldName="@DisabledItemFieldName"
        ErrorItemFieldName="@ErrorItemFieldName"
        DropDownValues="DropDownValues"
        SelectedItemID="selectedRecord?.MessageTemplateID" 
        OnSelectItem="SelectMainRecord" 
        OnEditItem="EditMainRecord" 
        OnDeleteItem="DeleteMainRecordConfirm"
        OnRemoveFilters="RemoveFiltersMain"
        OnRemoveLastFilter="RemoveLastFilterMain"
        OnRemoveFilter="RemoveFilterMain"
        OnShowFilterHelp="ShowFilterHelpMain"
        OnChangeFilter="ChangeFilterMainFromComponent"/>

    </div>

    <Modal @ref="modalMainRecord">
        <WindowControls>
            @if (selectedRecordChanges?.Count > 0)
            {
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" @onclick="CancelMainRecordConfirm"></button>
            }
            else
            {
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" @onclick="() => modalMainRecord!.Close()"></button>
            }
        </WindowControls>
        <Title>
            @if (@selectedRecordCopy?.MessageTemplateID > 0)
            {
                @:<i class="fa-solid fa-message"></i> Message @selectedRecordCopy?.MessageTemplateID
            }
            else {
                @:<i class="fa-solid fa-message"></i> New Message
            }
        </Title>
        <Body>
            <EditForm EditContext="@EditContextMain" OnValidSubmit="() => SaveMainRecord(true)">
                <FluentValidationValidator @ref="_fluentValidationValidator" />
                <div class="bd-callout bd-callout-VM bd-callout-grey GreyBackground">
                    <div class="container">

                        @if (selectedRecordCopy == null) {
                            <div class="row">
                                <div class="col-md">
                                    <div class="alert alert-primary text-center" role="alert">
                                        <h1>
                                            <i class="fa-solid fa-spinner fa-spin"></i> Loading ...
                                        </h1>
                                    </div>
                                </div>
                            </div>
                        }
                        else {

                            <div class="row g-3 mb-3">
                                <div class="col-md-4">
                                    <label class="col-form-label"><i class="fa-solid fa-angles-right"></i> Code</label>
                                </div>
                                <div class="col-md-8">
                                    <InputText @bind-Value="selectedRecordCopy!.Code" class="form-control" />
                                    <ValidationMessage For="@(() => selectedRecordCopy!.Code)" />
                                </div>
                            </div>

                            <div class="row g-3 mb-3">
                                <div class="col-md-4">
                                    <label class="col-form-label"><i class="fa-solid fa-angles-right"></i> Name</label>
                                </div>
                                <div class="col-md-8">
                                    <InputText @bind-Value="selectedRecordCopy!.Name" class="form-control" />
                                    <ValidationMessage For="@(() => selectedRecordCopy!.Name)" />
                                </div>
                            </div>

                            <div class="row g-3 mb-3">
                                <div class="col-md">
                                    Template Text
                                </div>
                            </div>
                            <div class="row g-3 mb-3">
                                <div class="col-md">
                                    <Editor ScriptSrc="./lib/tinymce/tinymce.min.js" @bind-Value="selectedRecordCopy!.TemplateContent" Field="() => selectedRecordCopy!.TemplateContent" LicenseKey="gpl" />
                                    @* <InputTextArea @bind-Value="selectedRecordCopy!.TemplateContent" class="form-control" /> *@
                                    <ValidationMessage For="@(() => selectedRecordCopy!.TemplateContent)" />
                                </div>
                            </div>

                            <div class="row g-3 mb-3">
                                <div class="col-md-4">
                                    <label class="col-form-label"><i class="fa-solid fa-angles-right"></i> Sequence</label>
                                </div>
                                <div class="col-md-8">
                                    <InputNumber @bind-Value="selectedRecordCopy!.Sequence" class="form-control" />
                                    <ValidationMessage For="@(() => selectedRecordCopy!.Sequence)" />
                                </div>
                            </div>

                            <div class="row g-3 mb-3">
                                <div class="col-md-4">
                                    <label class="col-form-label"><i class="fa-solid fa-angles-right"></i> Is Enabled</label>
                                </div>
                                <div class="col-md-8">
                                    <div class="d-grid gap-2 d-md-block">
                                        <button type="button" class="btn @(selectedRecordCopy!.IsEnabled == true? "btn-primary" : "btn-outline-primary") me-md-3" @onclick="(e) => ToggleMainRecordIsEnabled()"><i class="@(selectedRecordCopy!.IsEnabled == true? "fa-solid fa-square-check" : "fa-regular fa-square")"></i></button>
                                    </div>
                                    <ValidationMessage For="@(() => selectedRecordCopy!.IsEnabled)" />
                                </div>
                            </div>
                        }
                    </div>
                </div>

                <ValidationSummary />

            </EditForm>
        </Body>
        <Footer>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" @onclick="() => AdvanceToMainRecord(-1)"><i class="fa-solid fa-square-caret-left"></i></button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" @onclick="() => AdvanceToMainRecord(1)"><i class="fa-solid fa-square-caret-right"></i></button>

            @if (selectedRecordChanges?.Count > 0)
            {
                <button type="button" class="btn btn-success" data-bs-dismiss="modal" @onclick="() => SaveMainRecord(true)"><i class="fa-solid fa-floppy-disk"></i> Save and Close</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" @onclick="() => SaveMainRecord(false)"><i class="fa-solid fa-floppy-disk"></i> Save</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal" @onclick="CancelMainRecordConfirm"><i class="fa-solid fa-rotate-left"></i> Cancel <strong>@(selectedRecordChanges?.Count ?? 1)</strong> Changes</button>
            }
            else
            {
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" @onclick="CloseMainRecord"><i class="fa-solid fa-rotate-left"></i> Close</button>
            }
        </Footer>
    </Modal>
}

@code {
    [Parameter]
    public int? MessageTemplateID { get; set; }

    public EditContext? EditContextMain { get; set; }
    private FluentValidationValidator? _fluentValidationValidator;

    private string? messageTemplateEndPoint;

    private IList<Func<MessageTemplateModel, bool>> filtersMain = new List<Func<MessageTemplateModel, bool>>();

    private IQueryable<MessageTemplateModel>? ItemsMain =>
        mainRecords?.AsQueryable().Where(m => filtersMain.All(filter => filter(m)));

    private void AddFilterMain(Func<MessageTemplateModel, bool> filter)
    {
        filtersMain.Add(filter);
    }

    private void RemoveFilterMain(Func<MessageTemplateModel, bool> filter)
    {
        filtersMain.Remove(filter);
    }

    private List<MessageTemplateModel>? mainRecords { get; set; }

    [SupplyParameterFromForm]
    public MessageTemplateModel? selectedRecord { get; set; } = new MessageTemplateModel();
    private MessageTemplateModel? selectedRecordCopy { get; set; } = new MessageTemplateModel();

    protected override async Task OnInitializedAsync()
    {
        CheckAuthentication();

        SetEditorContextMain();

        bool? isError = false;
        messageTemplateEndPoint = $"{configuration["APIEndpoint"]}/MessageTemplate";

        try
        {
            mainRecords = await Http.GetFromJsonAsync<List<MessageTemplateModel>>(messageTemplateEndPoint);
        }
        catch (HttpRequestException ex)
        {
            isError = true;
            HandleJsonException(ex, "Message", MessageTemplateID.ToString() ?? "");
        }

        if (isError != true)
        {
            //Load other objects

        }

        PopulateDropDownValuesMain();
    }

    private void CheckAuthentication()
    {
        if (appData?.CurrentUser?.Email == null)
        {
            NavManager.NavigateTo("/Login");
        }
    }

    private MessageTemplateModel? GetMainRecord(int recordID)
    {
        return
        mainRecords?
        .Where(t => t.MessageTemplateID == recordID)
        .FirstOrDefault();
    }

    private void SelectMainRecord(int? recordID)
    {
        if (recordID != null && recordID > 0)
        {
            selectedRecord = GetMainRecord(recordID ?? 0);
        }
        else
        {
            selectedRecord = new MessageTemplateModel();

            //Related Datasets

        }

        //Keep a copy of this object to be used for edit form so original object can remain untouched until save operation (otherwise it changes on screen)
        if (selectedRecord != null)
            selectedRecordCopy = selectedRecord?.Clone();
    }

    public async Task AdvanceToMainRecord(int numRecords)
    {
        if (await SaveMainRecord(false) == true)
        {
            int? currentRecordID = selectedRecord?.MessageTemplateID;
            MessageTemplateModel? nextRecord = new MessageTemplateModel();

            if (numRecords > 0)
            {
                nextRecord =
                ItemsMain?
                .SkipWhile(obj => obj.MessageTemplateID != currentRecordID)
                .Skip(numRecords)
                .FirstOrDefault();
            }
            else if (numRecords < 0)
            {
                int numRecordsBack = Math.Abs(numRecords);
                nextRecord =
                    ItemsMain?
                    .Reverse()
                    .SkipWhile(obj => obj.MessageTemplateID != currentRecordID)
                    .Skip(numRecordsBack)
                    .FirstOrDefault();
            }

            if (nextRecord != null)
            {
                if (nextRecord?.MessageTemplateID != null)
                {
                    selectedRecord = nextRecord;
                    selectedRecordCopy = nextRecord;
                }
            }
        }
    }

    public void PopulateDropDownValuesMain()
    {
        DropDownValues = new List<object?>();

    }

    //Toggles for nullable bools
    public void ToggleMainRecordIsEnabled()
    {
        if (selectedRecordCopy != null)
        {
            if (selectedRecordCopy.IsEnabled == true)
            {
                selectedRecordCopy.IsEnabled = false;
            }
            else
            {
                selectedRecordCopy.IsEnabled = true;
            }
        }
    }

    private void ChangeFilterMain(string fieldName, object? value)
    {
        if (value == null || string.IsNullOrEmpty(value.ToString()))
        {
            if (FilterFieldsMain != null)
            {
                FilterFieldsMain.Remove(fieldName);
            }
        }
        else
        {
            var property = typeof(MessageTemplateModel).GetProperty(fieldName.Split('.').First());
            if (property != null)
            {
                var targetType = Nullable.GetUnderlyingType(property.PropertyType) ?? property.PropertyType;
                object? convertedValue = null;
                //Console.WriteLine($"Filter {fieldName} value {value} type {targetType}");

                if (targetType.IsEnum)
                {
                    try
                    {
                        convertedValue = Enum.Parse(targetType, value.ToString()!);
                    }
                    catch (Exception ex)
                    {
                        Logger.LogError(ex, "Error converting value for field {FieldName}", fieldName);
                    }
                }
                else if (targetType.IsClass && targetType != typeof(string))
                {
                    try
                    {
                        //convertedValue = int.Parse(value.ToString()!);
                        convertedValue = Convert.ChangeType(value, targetType.GetProperties().FirstOrDefault()?.PropertyType ?? typeof(int));
                    }
                    catch (Exception ex)
                    {
                        Logger.LogError(ex, "Error converting value for field {FieldName}", fieldName);
                    }
                }
                else if (targetType == typeof(bool) || targetType == typeof(bool?))
                {
                    bool? oldValue = null;
                    bool? newValue = null;

                    //Get old and new value to toggle and discard value sent from UI
                    if (FilterFieldsMain == null)
                        FilterFieldsMain = new Dictionary<string, object?>();

                    if (FilterFieldsMain.ContainsKey(fieldName))
                    {
                        if (bool.TryParse(FilterFieldsMain[fieldName]?.ToString(), out bool oldBool))
                        {
                            oldValue = oldBool;
                        }
                    }

                    if (oldValue == null)
                    {
                        newValue = true;
                    }
                    else if (oldValue == true)
                    {
                        newValue = false;
                    }
                    else
                    {
                        newValue = null;

                    }

                    try
                    {
                        convertedValue = newValue;
                    }
                    catch (Exception ex)
                    {
                        Logger.LogError(ex, "Error converting value for field {FieldName}", fieldName);
                    }
                }
                else
                {
                    try
                    {
                        convertedValue = Convert.ChangeType(value, targetType);
                    }
                    catch (Exception ex)
                    {
                        Logger.LogError(ex, "Error converting value for field {FieldName}", fieldName);
                    }
                }

                if (fieldName != null)
                {
                    //Allow bools to be set as NULL
                    if (convertedValue != null || !string.IsNullOrEmpty(convertedValue?.ToString()) || targetType == typeof(bool) || targetType == typeof(bool?))
                    {
                        if (FilterFieldsMain == null)
                        {
                            FilterFieldsMain = new Dictionary<string, object?>();
                        }

                        FilterFieldsMain[fieldName] = convertedValue;
                        //Console.WriteLine($"Filter {fieldName} set to {convertedValue}");
                    }

                }
            }
        }

        ApplyFilters();
    }

    private void ApplyFilters()
    {
        filtersMain.Clear();

        if (FilterFieldsMain != null)
        {
            foreach (var filter in FilterFieldsMain)
            {
                var propertyName = filter.Key;
                var propertyValue = filter.Value;
                //Console.WriteLine($"Filter {propertyName} value {propertyValue}");

                var parameter = Expression.Parameter(typeof(MessageTemplateModel), "m");
                Expression property = parameter;
                Expression? parentProperty = null;

                foreach (var member in propertyName.Split('.'))
                {
                    parentProperty = property;
                    property = Expression.Property(property, member);
                }

                var constant = Expression.Constant(propertyValue);

                Expression? comparison = null;

                if (propertyValue is string)
                {
                    var containsMethod = typeof(string).GetMethod("Contains", new[] { typeof(string), typeof(StringComparison) });
                    var isNotNull = Expression.NotEqual(property, Expression.Constant(null));

                    comparison = Expression.Call(property, containsMethod!, constant, Expression.Constant(StringComparison.CurrentCultureIgnoreCase));
                    comparison = Expression.AndAlso(isNotNull, comparison);
                }
                else if (propertyValue is int || propertyValue is decimal || propertyValue is bool || (propertyValue != null && propertyValue.GetType().IsEnum))
                {
                    if (Nullable.GetUnderlyingType(property.Type) != null)
                    {
                        var hasValue = Expression.Property(property, "HasValue");
                        var value = Expression.Property(property, "Value");
                        var equal = Expression.Equal(value, constant);
                        comparison = Expression.AndAlso(hasValue, equal);
                    }
                    else
                    {
                        comparison = Expression.Equal(property, constant);
                    }
                }
                else if (propertyValue is DateTime)
                {
                    if (Nullable.GetUnderlyingType(property.Type) != null)
                    {
                        var hasValue = Expression.Property(property, "HasValue");
                        var value = Expression.Property(property, "Value");
                        var equal = Expression.Equal(value, constant);
                        comparison = Expression.AndAlso(hasValue, equal);
                    }
                    else
                    {
                        comparison = Expression.Equal(property, constant);
                    }
                }

                if (parentProperty != null)
                {
                    var parentNotNull = Expression.NotEqual(parentProperty, Expression.Constant(null));
                    if (comparison != null)
                        comparison = Expression.AndAlso(parentNotNull, comparison);
                }

                if (comparison != null)
                {
                    var lambda = Expression.Lambda<Func<MessageTemplateModel, bool>>(comparison, parameter);
                    Console.WriteLine(lambda);
                    filtersMain.Add(lambda.Compile());
                }
            }
        }

        // Trigger UI update
        StateHasChanged();
    }

    public void SetEditorContextMain()
    {
        //When Edit Form is based on an Edit Context this must be called each time the context changes for validation to work
        if (selectedRecordCopy != null)
            EditContextMain = new EditContext(selectedRecordCopy);

        if (EditContextMain != null)
        {
            EditContextMain.OnFieldChanged += ChangeMainRecord;
        }
    }

    public string? action { get; set; }
    public string? soundEffect { get; set; }
    private Modal? modalMainRecord { get; set; }

    private Modal? modalInfo { get; set; }
    public string? msgInfoTitle = null;
    public MarkupString? msgInfo = null;

    private Modal? modalError { get; set; }
    public string? msgErrorTitle = null;
    public MarkupString? msgError = null;
    public string? msgErrorStackTrace = null;

    private Modal? modalConfirm { get; set; }
    public string? msgConfirmTitle = null;
    public MarkupString? msgConfirm = null;

    public string? loadDataErrorMsg = null;

    private IDictionary<string, string>? selectedRecordChanges = new Dictionary<string, string>();

    public Dictionary<string, object?>? FilterFieldsMain { get; set; }



    public IList<object?>? DropDownValues { get; set; }

    private void ChangeFilterMainFromComponent((string fieldName, object? value) args)
    {
        ChangeFilterMain(args.fieldName, args.value);
        //Console.WriteLine($"Filter {args.fieldName} value {args.value}");
    }

    private void RemoveFiltersMain()
    {
        if (FilterFieldsMain != null)
        {
            FilterFieldsMain.Clear();
        }
        filtersMain.Clear();

        // Trigger UI update
        StateHasChanged();
    }

    private void RemoveLastFilterMain()
    {
        if (FilterFieldsMain != null)
        {
            string? lastKey = FilterFieldsMain.Keys.LastOrDefault();

            if (lastKey != null)
            {
                FilterFieldsMain.Remove(lastKey);
            }

            ApplyFilters();
        }
    }

    private void RemoveFilterMain(string? fieldName)
    {
        if (fieldName != null)
        {
            if (FilterFieldsMain != null)
                FilterFieldsMain.Remove(fieldName);
        }

        ApplyFilters();
    }

    private void ShowFilterHelpMain()
    {
        action = "Info";
        soundEffect = SoundFunctions.GetErrorSound();

        msgInfoTitle = $"Filtering and Sorting Information";
        msgInfo = (MarkupString)$@"
            <h3><i class=""fa-solid fa-filter""></i> Information on Filtering</h3>
            <p>To filter on a field press the <button type=""button"" class=""btn btn-primary btn-sm""><i class=""fa-solid fa-bars""></i></button> button next to the field name in the header and then select or type in your search criteria (depending on the field type).</p>
            <p>Text and numeric fields will show a search box <button type=""button"" class=""btn btn-primary btn-sm""><i class=""fa-solid fa-magnifying-glass""></i></button> whereas selection fields will show a drop-down <button type=""button"" class=""btn btn-primary btn-sm""><i class=""fa-solid fa-square-caret-down""></i></button> and yes/no fields will show a checkbox <button type=""button"" class=""btn btn-primary btn-sm""><i class=""fa-solid fa-square-check""></i></button>.</p>
            <p>Once you have added filters you can clear all these by pressing on the <button type=""button"" class=""btn btn-primary btn-sm"">Clear Filers <i class=""fa-solid fa-filter-circle-xmark""></i></button> button or you can press on the <button type=""button"" class=""btn btn-primary btn-sm"">Clear Last Filter <i class=""fa-solid fa-filter-circle-xmark""></i></button> button to clear the last field you filtered by. These will become visible once you have added your first filter.</p>
            <p>You can also clear individual filters by pressing the <button type=""button"" class=""btn btn-primary btn-sm""><i class=""fa-solid fa-filter-circle-xmark""></i></button> button next to each one.</p>
            <h3><i class=""fa-solid fa-arrow-up-a-z""></i> Information on Sorting</h3>
            <p>You can sort a field by clicking on its name in the header row where the first time you press it the column will sort in ascending order <button type=""button"" class=""btn btn-primary btn-sm""><i class=""fa-solid fa-arrow-up-a-z""></i></button> and the second time you press it, it will sort in descending order <button type=""button"" class=""btn btn-primary btn-sm""><i class=""fa-solid fa-arrow-down-z-a""></i></button>.</p>
            <p>To sort by a different field just click the header of that column and it will replace the sort you had and sort by the new column instead.</p>";

        modalInfo!.Open();
    }

    private async Task FormAction()
    {
        //Determine what clear form button should do on dialog box

        if (action == "ClearFormConfirm")
        {
            ClearForm();
        }
        else if (action == "CancelMainRecordConfirm")
        {
            CancelMainRecord();
        }
        else if (action == "DeleteMainRecordConfirm")
        {
            await DeleteMainRecord();
        }  
        else
        {
            action = "Error";
            soundEffect = SoundFunctions.GetErrorSound();

            msgErrorTitle = $"Invalid Action";
            msgError = (MarkupString)$"An invalid option was specified. Please try again.";
            msgErrorStackTrace = null;

            modalError!.Open();
        }
    }

    private void ClearFormConfirm()
    {
        action = "ClearFormConfirm";
        soundEffect = SoundFunctions.GetPromptSound();

        msgConfirmTitle = $"Clear Form?";
        msgConfirm = (MarkupString)$"Are you sure you want to clear all information on this form?";

        modalConfirm!.Open();
    }

    private void ClearForm()
    {
        action = "ClearForm";

        selectedRecord = new();

        modalConfirm!.Close();
    }

    protected void ChangeMainRecord(object? sender, FieldChangedEventArgs? e)
    {
        string? fieldName = e?.FieldIdentifier.FieldName;
        string? fieldValue = e?.FieldIdentifier.Model.GetType().GetProperty(fieldName ?? "")?.GetValue(e?.FieldIdentifier.Model)?.ToString();

        fieldValue = StringFunctions.FormatFieldChangedValue(fieldValue);

        if (selectedRecordChanges != null && fieldName != null)
        {
            if (selectedRecordChanges.ContainsKey(fieldName))
            {
                selectedRecordChanges[fieldName] = fieldValue ?? "";
            }
            else
            {
                selectedRecordChanges.Add(fieldName, fieldValue ?? "");
            }
        }
    }

    private void EditMainRecord(int? recordID)
    {
        SelectMainRecord(recordID);

        SetEditorContextMain();

        if (selectedRecordCopy != null)
        {
            modalMainRecord!.MakeLarge();
            modalMainRecord!.Open();
        }
        else
        {
            action = "Error";
            soundEffect = SoundFunctions.GetErrorSound();

            msgErrorTitle = $"Cannot Load Record {recordID}";
            msgError = (MarkupString)$"Unfortunately the record could not be loaded due to an error.<br />Please try again.";
            msgErrorStackTrace = null;

            modalError!.Open();
        }
    }

    private async Task<bool> SaveMainRecord(bool? CloseDialogAfterSave)
    {
        string? saveEndPoint;
        bool returnValue = false;

        if (await _fluentValidationValidator!.ValidateAsync())
        {
            Logger.LogInformation("Id = {Id}", selectedRecordCopy?.MessageTemplateID);

            try
            {
                if (selectedRecord != null && selectedRecordCopy != null)
                {
                    //Update related entities (as only IDs are updated on the form so rest of object is not updated)
                    

                    HttpResponseMessage formResponse = new HttpResponseMessage();

                    if (selectedRecordCopy?.MessageTemplateID > 0)
                    {
                        //Update existing record
                        saveEndPoint = $"{configuration["APIEndpoint"]}/MessageTemplate/{selectedRecord?.MessageTemplateID}";
                        formResponse = await Http.PutAsJsonAsync<MessageTemplateModel>(saveEndPoint, selectedRecordCopy!);
                    }
                    else 
                    {
                        //Insert new record
                        saveEndPoint = $"{configuration["APIEndpoint"]}/MessageTemplate";
                        formResponse = await Http.PostAsJsonAsync<MessageTemplateModel>(saveEndPoint, selectedRecordCopy!);
                    }

                    if (formResponse.IsSuccessStatusCode != true)
                    {
                        string responseBody = await formResponse.Content.ReadAsStringAsync();
                        action = "Error";
                        soundEffect = SoundFunctions.GetErrorSound();

                        msgErrorTitle = $"Cannot Save Message Template Record";
                        msgError = (MarkupString)$"Unfortunately the Message Template Record could not be saved successfully due to an error.<br />Please check your network connection and attempt to save again.";
                        msgErrorStackTrace = responseBody;

                        modalError!.Open();
                    }
                    else
                    {
                        //Copy properties back to tracked object being saved
                        selectedRecordCopy.CopyProperties(selectedRecord);

                        selectedRecordChanges?.Clear();

                        soundEffect = SoundFunctions.GetConfirmSound();
                        returnValue = true;

                        if (selectedRecordCopy?.MessageTemplateID > 0)
                        {
                            //Update existing record
                            if (CloseDialogAfterSave == true)
                            {
                                CloseMainRecord();
                            }
                        }
                        else 
                        {
                            //Insert new record

                            //Get ID of newly inserted record and add new item to model so shows on screen
                            MessageTemplateModel insertedMainRecord = await formResponse.Content.ReadFromJsonAsync<MessageTemplateModel>() ?? new MessageTemplateModel();

                            if (insertedMainRecord.MessageTemplateID > 0)
                            {
                                mainRecords?.Add(insertedMainRecord);

                                if (CloseDialogAfterSave == true)
                                {
                                    CloseMainRecord();
                                }
                            }
                            else
                            {
                                action = "Error";
                                soundEffect = SoundFunctions.GetErrorSound();

                                msgErrorTitle = $"Cannot Save Message Record";
                                msgError = (MarkupString)$"Unfortunately the Message Record could not be saved successfully due to an error.<br />Please check your network connection and attempt to save again.";
                                msgErrorStackTrace = null;

                                modalError!.Open();
                            }
                        }
                    }
                }
                else
                {
                    action = "Error";
                    soundEffect = SoundFunctions.GetErrorSound();

                    msgErrorTitle = $"Cannot Save Message Record";
                    msgError = (MarkupString)$"Unfortunately the Message Record could not be saved successfully due to an error.<br />Please check your network connection and attempt to save again.";
                    msgErrorStackTrace = null;

                    modalError!.Open();
                }

            }
            catch (HttpRequestException ex)
            {
                HandleJsonException(ex, "Message", selectedRecordCopy?.MessageTemplateID.ToString() ?? "0");
            }
        }

        return returnValue;
    }

    private void DeleteMainRecordConfirm()
    {
        if (selectedRecord?.MessageTemplateID > 0)
        {
            action = "DeleteMainRecordConfirm";
            soundEffect = SoundFunctions.GetPromptSound();

            msgConfirmTitle = $"Confirm Delete?";
            msgConfirm = (MarkupString)$"Are you sure you want to delete the Message Template with the name \"{selectedRecord.Name}\"?";

            modalConfirm!.OpenOnTop1();
        }
        else
        {
            action = "Error";
            soundEffect = SoundFunctions.GetErrorSound();

            msgErrorTitle = $"No Message Template Selected";
            msgError = (MarkupString)$"Please select a Message Template first before pressing the Delete button or if try to select one again if one had been selected.";
            msgErrorStackTrace = null;

            modalError!.Open();
        }
    }

    private async Task DeleteMainRecord()
    {
        action = "DeleteMainRecord";

        string? deleteEndPoint;

        Logger.LogInformation("Id = {Id}", selectedRecord?.MessageTemplateID);

        modalConfirm!.Close();

        try
        {
            if (selectedRecord != null)
            {
                MessageTemplateModel formResponse = new MessageTemplateModel();

                if (selectedRecord?.MessageTemplateID > 0)
                {
                    deleteEndPoint = $"{configuration["APIEndpoint"]}/MessageTemplate/{selectedRecord?.MessageTemplateID}";
                    formResponse = await Http.DeleteFromJsonAsync<MessageTemplateModel>(deleteEndPoint) ?? new MessageTemplateModel();

                    if (formResponse.MessageTemplateID > 0)
                    {
                        //Remove record from screen as well
                        mainRecords?.Remove(selectedRecord!);
                    }
                    else
                    {
                        action = "Error";
                        soundEffect = SoundFunctions.GetErrorSound();

                        msgErrorTitle = $"Cannot Delete Message Template Record";
                        msgError = (MarkupString)$"Unfortunately the Message Template Record could not be deleted successfully due to an error.<br />Please check your network connection and attempt to save again.";
                        msgErrorStackTrace = null;

                        modalError!.Open();
                    }
                }
                else
                {
                    action = "Error";
                    soundEffect = SoundFunctions.GetErrorSound();

                    msgErrorTitle = $"No Message Template Selected";
                    msgError = (MarkupString)$"Please select a Message Template first before pressing the Delete button or if try to select one again if one had been selected.";
                    msgErrorStackTrace = null;

                    modalError!.Open();
                }
            }
            else
            {
                action = "Error";
                soundEffect = SoundFunctions.GetErrorSound();

                msgErrorTitle = $"Cannot Save Message Template Record";
                msgError = (MarkupString)$"Unfortunately the Message Template Record could not be saved successfully due to an error.<br />Please check your network connection and attempt to save again.";
                msgErrorStackTrace = null;

                modalError!.Open();
            }

        }
        catch (HttpRequestException ex)
        {
            HandleJsonException(ex, "Message Template", selectedRecord?.MessageTemplateID.ToString() ?? "0");
        }
    }

    //Additional Functions
    //None



    //Common Code
    private void CancelMainRecordConfirm()
    {
        action = "CancelMainRecordConfirm";
        soundEffect = SoundFunctions.GetPromptSound();

        string? numberOfChanges = $"{selectedRecordChanges?.Count} {(selectedRecordChanges?.Count == 1 ? "Change" : "Changes")}";
        string? listOfChanges = selectedRecordChanges?.Select(x => $"<li>{x.Key}: {x.Value}</li>").Aggregate((x, y) => $"{x}{y}"); //Aggregation in case of duplication
        string? tableName = selectedRecord?.GetType().Name.Replace("Model", "").GetFieldNameWithSpaces(true) ?? "Record";

        msgConfirmTitle = $"Confirm Cancel?";
        msgConfirm = (MarkupString)$@"
            <p>
                You have made the following changes:<br />
                - {tableName}: {numberOfChanges}:
                <ul>
                {listOfChanges}
                </ul>
            </p>
            <p>
                Are you sure you want to cancel and lose these changes?
            </p>";

        modalConfirm!.OpenOnTop1();
    }

    private void CancelMainRecord()
    {
        //selectedRecord = selectedRecordCopy;

        //Set object back to original values
        if (selectedRecord != null)
        {
            //selectedRecord.Subject = selectedRecordCopy?.Subject;
        }

        // if (selectedRecord != null && selectedRecordCopy != null)
        //     selectedRecordCopy.CopyProperties(selectedRecord);

        //Better way?
        // PropertyInfo[]? properties = selectedRecordCopy?.GetType().GetProperties();
        // if (properties != null)
        // {
        //     foreach (PropertyInfo property in properties)
        //     {
        //         // Get the name and value of each property
        //         string? propertyName = property.Name;
        //         object? propertyValue = property.GetValue(selectedRecord);

        //         //Console.WriteLine($"{propertyName}: {propertyValue}");
        //         selectedRecord?.GetType().GetProperty(propertyName)?.SetValue(selectedRecord, propertyValue);
        //         //selectedRecord?.GetType().GetProperty(propertyName)?.SetValue(selectedRecordCopy, selectedRecordCopy?.GetType().GetProperty(propertyName)?.GetValue(selectedRecordCopy));
        //     }
        // }

        CloseMainRecord();
    }

    private void CloseMainRecord()
    {
        modalMainRecord!.Close();
        modalConfirm!.Close();

        selectedRecordChanges?.Clear();
    }

    private void HandleJsonException(HttpRequestException ex, string objectName, string objectID)
    {
        if (ex.Message.Contains(HttpStatusCode.Unauthorized.ToString()))
        {
            loadDataErrorMsg = $"You are not authorised to view this page";

            //Redirect to login screen
            NavManager.NavigateTo($"Login/Vehicles");
        }
        else if (ex.Message.Contains("404 (Not Found)"))
        {
            loadDataErrorMsg = $"The {objectName} \"{objectID}\" is not found";
        }
        else if (ex.Message.Contains("400 (Bad Request)"))
        {
            loadDataErrorMsg = $"The {objectName} \"{objectID}\" resulted in an invalid request";
        }
        else
        {
            loadDataErrorMsg = $"Error: {ex.Message}";
        }
    }
}
