@page "/Vehicles"
@page "/Vehicles/{VehicleID}"

@using VehicleManager.Models
@using VehicleManager.Services
@using VehicleManager.Shared
@using System.Net
@using Microsoft.AspNetCore.Components.QuickGrid
@using TinyMCE.Blazor

@inject HttpClient Http
@inject IConfiguration configuration
@inject NavigationManager NavManager
@inject AppData appData

<PageTitle>Vehicles @@ Broken Motor</PageTitle>

<audio src="@soundEffect" autoplay></audio>

<Modal @ref="modalInfo">
    <Title><i class="fa-solid fa-circle-info"></i> @msgInfoTitle</Title>
    <Body>
        <p>
            @msgInfo
        </p>
    </Body>
    <Footer>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" @onclick="() => modalError!.Close()">Close</button>
    </Footer>
</Modal>

<Modal @ref="modalError">
    <Title><i class="fa-solid fa-triangle-exclamation"></i> @msgErrorTitle</Title>
    <Body>
        <div class="alert alert-danger" role="alert">
            @msgError
        </div>
        @if (msgErrorStackTrace != null)
        {
            <p><i class="fa-solid fa-bug"></i> Stack Trace:</p>
            <pre class="pre-scrollable ErrorDetails">@msgErrorStackTrace</pre>
        }
    </Body>
    <Footer>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" @onclick="() => modalError!.Close()">Close</button>
    </Footer>
</Modal>

<Modal @ref="modalConfirm">
    <Title><i class="fa-solid fa-circle-question"></i> @msgConfirmTitle</Title>
    <Body>
        <p>
            @msgConfirm
        </p>
    </Body>
    <Footer>
        <button type="button" class="btn btn-danger"><i class="fa-solid fa-trash"></i> Yes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" @onclick="() => modalConfirm!.Close()"><i class="fa-solid fa-right-from-bracket"></i> Cancel</button>
    </Footer>
</Modal>

<h3><i class="fa-solid fa-car-burst"></i> Vehicles</h3>

@if (loadDataErrorMsg != null) 
{
    <div class="container">
        <div class="row">
            <div class="col-md">
                <div class="alert alert-danger hstack gap-3" role="alert">
                    <div>
                        <h1><i class="fa-solid fa-triangle-exclamation"></i></h1>
                    </div>
                    <div>
                        <p>
                            @loadDataErrorMsg
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else if(vehicles == null) {
    <div class="container">
        <div class="row">
            <div class="col-md">
                <div class="alert alert-primary text-center" role="alert">
                    <h1>
                        <i class="fa-solid fa-spinner fa-spin"></i> Loading ...
                    </h1>
                </div>
            </div>
        </div>
    </div>
}
else {
    <div class="container-fluid">
        <div class="row">
            <div class="col-md TableArea pt-3 rounded">
                <div class="alert alert-primary" role="alert">
                    @if (FiltersMain.Count > 0)
                    {
                        <button type="button" class="btn btn-primary btn-sm me-3" @onclick="@FilterMainClear">Filters (Clear) <i class="fa-solid fa-filter-circle-xmark"></i></button>

                        int filterNumber = 0;
                        @foreach (var filter in FiltersMain)
                        {
                            filterNumber += 1;

                            @if (filterNumber > 1) {
                                <span class="ps-3 pe-3">|</span>
                            }
                            <span>@filter</span>
                        }
                    }
                </div>
                <div class="TableContainer">
                    <div class="table-responsive">
                        <QuickGrid Items="@FilteredVehicles" Virtualize="true" Class="table table-striped table-hover table-bordered" TGridItem="VehicleModel">

                            <TemplateColumn Title="" Sortable="true" SortBy="GridSort<VehicleModel>.ByDescending(x => x.SubmissionID)">
                                <button type="button" class="btn btn-primary btn-sm" @onclick="()=>EditVehicle(context.SubmissionID)"><i class="fa-solid fa-up-right-from-square"></i></button>
                            </TemplateColumn>

                            <TemplateColumn Title="ID" Sortable="true" SortBy="GridSort<VehicleModel>.ByDescending(x => x.SubmissionID)">
                                <ChildContent>
                                    <div @onclick="()=>SelectVehicle(context?.SubmissionID)" class="@TableCSS(context)">
                                        <div class="col-justify-start">@context.SubmissionID</div>
                                    </div>
                                </ChildContent>
                                <ColumnOptions>
                                    <div class="search-box">
                                        <input type="number" class="form-control" autofocus @bind="FilterMainSubmissionID" @bind:event="oninput" @onkeyup="FilterMainRefresh" @onchange="FilterMainRefresh" />
                                    </div>
                                </ColumnOptions>
                            </TemplateColumn>

                            <TemplateColumn Title="Date" Sortable="true" SortBy="GridSort<VehicleModel>.ByDescending(x => x.submissionDate)">
                                <ChildContent>
                                    <div @onclick="()=>SelectVehicle(context?.SubmissionID)" class="@TableCSS(context)">
                                        <div class="col-justify-start">@(context?.submissionDate == null ? "" : context?.submissionDate.Value.ToString("dd/MM/yyyy"))</div>
                                    </div>
                                </ChildContent>
                                <ColumnOptions>
                                    <div class="search-box">
                                        <input type="date" class="form-control" autofocus @bind="FilterMainSubmissionDate" @bind:event="oninput" @onkeyup="FilterMainRefresh" @onchange="FilterMainRefresh" />
                                    </div>
                                </ColumnOptions>
                            </TemplateColumn>

                            <TemplateColumn Title="Surname" Sortable="true" SortBy="GridSort<VehicleModel>.ByDescending(x => x.Surname)">
                                <ChildContent>
                                    <div @onclick="()=>SelectVehicle(context?.SubmissionID)" class="@TableCSS(context)">
                                        <div class="col-justify-start">@context.Surname</div>
                                    </div>
                                </ChildContent>
                                <ColumnOptions>
                                    <div class="search-box">
                                        <input type="search" class="form-control" autofocus @bind="FilterMainSurname" @bind:event="oninput" placeholder="Surname..." @onkeyup="FilterMainRefresh" @onchange="FilterMainRefresh" />
                                    </div>
                                </ColumnOptions>
                            </TemplateColumn>

                            <TemplateColumn Title="Forename" Sortable="true" SortBy="GridSort<VehicleModel>.ByDescending(x => x.Forename)">
                                <ChildContent>
                                    <div @onclick="()=>SelectVehicle(context?.SubmissionID)" class="@TableCSS(context)">
                                        <div class="col-justify-start">@context.Forename</div>
                                    </div>
                                </ChildContent>
                                <ColumnOptions>
                                    <div class="search-box">
                                        <input type="search" class="form-control" autofocus @bind="FilterMainForename" @bind:event="oninput" placeholder="Forename..." @onkeyup="FilterMainRefresh" @onchange="FilterMainRefresh" />
                                    </div>
                                </ColumnOptions>
                            </TemplateColumn>

                            <TemplateColumn Title="Email Address" Sortable="true" SortBy="GridSort<VehicleModel>.ByDescending(x => x.Email)">
                                <ChildContent>
                                    <div @onclick="()=>SelectVehicle(context?.SubmissionID)" class="@TableCSS(context)">
                                        <div class="col-justify-start">@context.Email</div>
                                    </div>
                                </ChildContent>
                                <ColumnOptions>
                                    <div class="search-box">
                                        <input type="search" class="form-control" autofocus @bind="FilterMainEmail" @bind:event="oninput" placeholder="Email..." @onkeyup="FilterMainRefresh" @onchange="FilterMainRefresh" />
                                    </div>
                                </ColumnOptions>
                            </TemplateColumn>

                            <TemplateColumn Title="Telephone Number" Sortable="true" SortBy="GridSort<VehicleModel>.ByDescending(x => x.Tel)">
                                <ChildContent>
                                    <div @onclick="()=>SelectVehicle(context?.SubmissionID)" class="@TableCSS(context)">
                                        <div class="col-justify-start">@context.Tel</div>
                                    </div>
                                </ChildContent>
                                <ColumnOptions>
                                    <div class="search-box">
                                        <input type="search" class="form-control" autofocus @bind="FilterMainTel" @bind:event="oninput" placeholder="Email..." @onkeyup="FilterMainRefresh" @onchange="FilterMainRefresh" />
                                    </div>
                                </ColumnOptions>
                            </TemplateColumn>

                            <TemplateColumn Title="Post Code" Sortable="true" SortBy="GridSort<VehicleModel>.ByDescending(x => x.PostCode)">
                                <ChildContent>
                                    <div @onclick="()=>SelectVehicle(context?.SubmissionID)" class="@TableCSS(context)">
                                        <div class="col-justify-start">@context.PostCode</div>
                                    </div>
                                </ChildContent>
                                <ColumnOptions>
                                    <div class="search-box">
                                        <input type="search" class="form-control" autofocus @bind="FilterMainPostCode" @bind:event="oninput" placeholder="Email..." @onkeyup="FilterMainRefresh" @onchange="FilterMainRefresh" />
                                    </div>
                                </ColumnOptions>
                            </TemplateColumn>

                            <TemplateColumn Title="Reg Number" Sortable="true" SortBy="GridSort<VehicleModel>.ByDescending(x => x.RegistrationNumber)">
                                <ChildContent>
                                    <div @onclick="()=>SelectVehicle(context?.SubmissionID)" class="@TableCSS(context)">
                                        <div class="col-justify-start">@context.RegistrationNumber</div>
                                    </div>
                                </ChildContent>
                                <ColumnOptions>
                                    <div class="search-box">
                                        <input type="search" class="form-control" autofocus @bind="FilterMainRegistration" @bind:event="oninput" placeholder="Registration Number..." @onkeyup="FilterMainRefresh" @onchange="FilterMainRefresh" />
                                    </div>
                                </ColumnOptions>
                            </TemplateColumn>

                            <TemplateColumn Title="Make" Sortable="true" SortBy="GridSort<VehicleModel>.ByDescending(x => x.Make)">
                                <ChildContent>
                                    <div @onclick="()=>SelectVehicle(context?.SubmissionID)" class="@TableCSS(context)">
                                        <div class="col-justify-start">@context.Make</div>
                                    </div>
                                </ChildContent>
                                <ColumnOptions>
                                    <div class="search-box">
                                        <input type="search" class="form-control" autofocus @bind="FilterMainMake" @bind:event="oninput" placeholder="Make..." @onkeyup="FilterMainRefresh" @onchange="FilterMainRefresh" />
                                    </div>
                                </ColumnOptions>
                            </TemplateColumn>

                            <TemplateColumn Title="Model" Sortable="true" SortBy="GridSort<VehicleModel>.ByDescending(x => x.Model)">
                                <ChildContent>
                                    <div @onclick="()=>SelectVehicle(context?.SubmissionID)" class="@TableCSS(context)">
                                        <div class="col-justify-start">@context.Model</div>
                                    </div>
                                </ChildContent>
                                <ColumnOptions>
                                    <div class="search-box">
                                        <input type="search" class="form-control" autofocus @bind="FilterMainModel" @bind:event="oninput" placeholder="Model..." @onkeyup="FilterMainRefresh" @onchange="FilterMainRefresh" />
                                    </div>
                                </ColumnOptions>
                            </TemplateColumn>

                        </QuickGrid>
                    </div>
                </div>
                <div class="alert alert-secondary" role="alert">
                    <div class="row">
                        <div class="col-md">
                            <div class="d-grid gap-2 d-md-block text-start">

                                @if (selectedVehicle?.SubmissionID > 0)
                                {
                                    <span>1 Record Selected</span>
                                }
                            </div>
                        </div>
                        <div class="col-md text-end">

                            @if (FiltersMain.Count > 0)
                            {
                                <div class="col-md text-end fw-bold text-primary">
                                    @FilteredVehicles?.Count() Records (Filtered)
                                </div>
                            }
                            else
                            {
                                <div class="col-md text-end">
                                    @FilteredVehicles?.Count() Records
                                </div>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <Modal @ref="modalVehicle">
        <Title><i class="fa-solid fa-car"></i> Vehicle @selectedVehicle?.SubmissionID</Title>
        <Body>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="customer-tab" data-bs-toggle="tab" data-bs-target="#customer-tab-pane" type="button" role="tab" aria-controls="customer-tab-pane" aria-selected="true"><i class="fa-solid fa-user"></i> Customer</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="vehicle-tab" data-bs-toggle="tab" data-bs-target="#vehicle-tab-pane" type="button" role="tab" aria-controls="vehicle-tab-pane" aria-selected="false"><i class="fa-solid fa-car"></i> Vehicle</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="messages-tab" data-bs-toggle="tab" data-bs-target="#messages-tab-pane" type="button" role="tab" aria-controls="messages-tab-pane" aria-selected="false"><i class="fa-solid fa-envelope"></i> Messages</button>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="customer-tab-pane" role="tabpanel" aria-labelledby="customer-tab" tabindex="0">
                    <div class="bd-callout bd-callout-VM bd-callout-grey GreyBackground">
                        <div class="container">
                            <div class="row mb-3 align-items-center">
                                <div class="col-md text-center">
                                    <h4><i class="fa-solid fa-user"></i> Customer Details</h4>
                                </div>
                            </div>

                            <div class="row align-items-center">
                                <div class="col-md-6">
                                    <div class="row mb-3 align-items-center">
                                        <div class="col-md-4">
                                            Forename
                                        </div>
                                        <div class="col-md-8 Text">
                                            <strong>@selectedVehicle?.Forename</strong>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row mb-3 align-items-center">
                                        <div class="col-md-4">
                                            Surname
                                        </div>
                                        <div class="col-md-8 Text">
                                            <strong>@selectedVehicle?.Surname</strong>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row align-items-center">
                                <div class="col-md-6">
                                    <div class="row mb-3 align-items-center">
                                        <div class="col-md-4">
                                            Email
                                        </div>
                                        <div class="col-md-8 Text">
                                            @selectedVehicle?.Email
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row mb-3 align-items-center">
                                        <div class="col-md-4">
                                            Telephone
                                        </div>
                                        <div class="col-md-8 Text">
                                            @selectedVehicle?.Tel
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row align-items-center">
                                <div class="col-md-6">
                                    <div class="row mb-3 align-items-center">
                                        <div class="col-md-4">
                                            Registration Number
                                        </div>
                                        <div class="col-md-8 Text">
                                            @selectedVehicle?.RegistrationNumber
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row mb-3 align-items-center">
                                        <div class="col-md-4">
                                            Post Code
                                        </div>
                                        <div class="col-md-8 Text">
                                            @selectedVehicle?.PostCode
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row align-items-center">
                                <div class="col-md mb-1">
                                    Message
                                </div>
                            </div>
                            <div class="row align-items-center">
                                <div class="col-md">
                                    <div class="Textarea">
                                        @selectedVehicle?.Message
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="bd-callout bd-callout-warning bd-callout-grey GreyBackground">
                        <div class="container">
                            <div class="row mb-3 align-items-center">
                                <div class="col-md text-center">
                                    <h4><i class="fa-solid fa-scale-balanced"></i> Offer Details</h4>
                                </div>
                            </div>

                            <div class="row align-items-center">
                                <div class="col-md-6">
                                    <div class="row mb-3 align-items-center">
                                        <div class="col-md-4">
                                            Has Accepted Offer
                                        </div>
                                        <div class="col-md-8 Text TextYes">
                                            <strong>Yes</strong>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row mb-3 align-items-center">
                                        <div class="col-md-4">
                                            Last Offer Amount
                                        </div>
                                        <div class="col-md-8 Text">
                                            <strong>&pound; 500.00</strong>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row align-items-center">
                                <div class="col-md-6">
                                    <div class="row mb-3 align-items-center">
                                        <div class="col-md-4">
                                            Last Contacted
                                        </div>
                                        <div class="col-md-8 Text">
                                            13/12/2024
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row mb-3 align-items-center">
                                        <div class="col-md-4">
                                            Messages Sent
                                        </div>
                                        <div class="col-md-8 Text">
                                            3
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="vehicle-tab-pane" role="tabpanel" aria-labelledby="vehicle-tab" tabindex="0">
                    <div class="bd-callout bd-callout-purple bd-callout-grey GreyBackground">
                        <div class="container">
                            <div class="row mb-3 align-items-center">
                                <div class="col-md text-center">
                                    <h4><i class="fa-solid fa-car"></i> Vehicle Details</h4>
                                </div>
                            </div>

                            <div class="row align-items-center">
                                <div class="col-md-6">
                                    <div class="row mb-3 align-items-center">
                                        <div class="col-md-4">
                                            Registration Number
                                        </div>
                                        <div class="col-md-8 Text">
                                            <strong>@selectedVehicle?.RegistrationNumber</strong>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row mb-3 align-items-center">
                                        <div class="col-md-4">
                                            Year of Manufacture
                                        </div>
                                        <div class="col-md-8 Text">
                                            <strong>@selectedVehicle?.YearOfManufacture</strong>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row align-items-center">
                                <div class="col-md-6">
                                    <div class="row mb-3 align-items-center">
                                        <div class="col-md-4">
                                            Make
                                        </div>
                                        <div class="col-md-8 Text">
                                            @selectedVehicle?.Make
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row mb-3 align-items-center">
                                        <div class="col-md-4">
                                            Model
                                        </div>
                                        <div class="col-md-8 Text">
                                            @selectedVehicle?.Model
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row align-items-center">
                                <div class="col-md-6">
                                    <div class="row mb-3 align-items-center">
                                        <div class="col-md-4">
                                            Description
                                        </div>
                                        <div class="col-md-8 Text">
                                            @selectedVehicle?.Description
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row mb-3 align-items-center">
                                        <div class="col-md-4">
                                            Derivative
                                        </div>
                                        <div class="col-md-8 Text">
                                            @selectedVehicle?.Derivative
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row align-items-center">
                                <div class="col-md-6">
                                    <div class="row mb-3 align-items-center">
                                        <div class="col-md-4">
                                            Colour
                                        </div>
                                        <div class="col-md-8 Text">
                                            @selectedVehicle?.Colour
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row mb-3 align-items-center">
                                        <div class="col-md-4">
                                            Body Style
                                        </div>
                                        <div class="col-md-8 Text">
                                            @selectedVehicle?.BodyStyle
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row align-items-center">
                                <div class="col-md-6">
                                    <div class="row mb-3 align-items-center">
                                        <div class="col-md-4">
                                            Fuel Type
                                        </div>
                                        <div class="col-md-8 Text">
                                            @selectedVehicle?.FuelType
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row mb-3 align-items-center">
                                        <div class="col-md-4">
                                            Transmission Type
                                        </div>
                                        <div class="col-md-8 Text">
                                            @selectedVehicle?.TransmissionType
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row align-items-center">
                                <div class="col-md-6">
                                    <div class="row mb-3 align-items-center">
                                        <div class="col-md-4">
                                            Engine Size CC
                                        </div>
                                        <div class="col-md-8 Text">
                                            @selectedVehicle?.EngineSizeCC
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row mb-3 align-items-center">
                                        <div class="col-md-4">
                                            Category
                                        </div>
                                        <div class="col-md-8 Text">
                                            @selectedVehicle?.Category
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row align-items-center">
                                <div class="col-md-6">
                                    <div class="row mb-3 align-items-center">
                                        <div class="col-md-4">
                                            Door Count
                                        </div>
                                        <div class="col-md-8 Text">
                                            @selectedVehicle?.DoorCount
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row mb-3 align-items-center">
                                        <div class="col-md-4">
                                            Gear Count
                                        </div>
                                        <div class="col-md-8 Text">
                                            @selectedVehicle?.GearCount
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row align-items-center">
                                <div class="col-md-6">
                                    <div class="row mb-3 align-items-center">
                                        <div class="col-md-4">
                                            Drive Axle
                                        </div>
                                        <div class="col-md-8 Text">
                                            @selectedVehicle?.DriveAxle
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row mb-3 align-items-center">
                                        <div class="col-md-4">
                                            EngineCode
                                        </div>
                                        <div class="col-md-8 Text">
                                            @selectedVehicle?.EngineCode
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row align-items-center">
                                <div class="col-md-6">
                                    <div class="row mb-3 align-items-center">
                                        <div class="col-md-4">
                                            Engine Cylinder Count
                                        </div>
                                        <div class="col-md-8 Text">
                                            @selectedVehicle?.EngineCylinderCount
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row mb-3 align-items-center">
                                        <div class="col-md-4">
                                            Engine Size Litre
                                        </div>
                                        <div class="col-md-8 Text">
                                            @selectedVehicle?.EngineSizeLitre
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row align-items-center">
                                <div class="col-md-6">
                                    <div class="row mb-3 align-items-center">
                                        <div class="col-md-4">
                                            Wheelbase MM
                                        </div>
                                        <div class="col-md-8 Text">
                                            @selectedVehicle?.WheelbaseMM
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="messages-tab-pane" role="tabpanel" aria-labelledby="messages-tab" tabindex="0">
                    <div class="row">
                        <div class="col-md">
                            <div class="alert alert-primary" role="alert">
                                @if (FiltersMsg.Count > 0)
                                {
                                    <button type="button" class="btn btn-primary btn-sm me-3" @onclick="@FilterMsgClear">Filters (Clear) <i class="fa-solid fa-filter-circle-xmark"></i></button>

                                    int filterNumber = 0;
                                    @foreach (var filter in FiltersMsg)
                                    {
                                        filterNumber += 1;

                                        @if (filterNumber > 1)
                                        {
                                            <span class="ps-3 pe-3">|</span>
                                        }
                                        <span>@filter</span>
                                    }
                                }
                            </div>
                            <div class="TableContainer">
                                <div class="table-responsive-dialog">
                                    <QuickGrid Items="@FilteredMessages" Virtualize="true" Class="table table-striped table-hover table-bordered">
                                        <TemplateColumn Title="">
                                            <button type="button" class="btn btn-primary btn-sm"><i class="fa-solid fa-up-right-from-square"></i></button>
                                        </TemplateColumn>
                                        <PropertyColumn Title="ID" Property="@(p => p.MessageID)" Sortable="true">
                                            <ColumnOptions>
                                                <div class="search-box">
                                                    <input type="number" class="form-control" autofocus @bind="FilterMsgMessageID" @bind:event="oninput" @onkeyup="FilterMsgRefresh" @onchange="FilterMsgRefresh" />
                                                </div>
                                            </ColumnOptions>
                                        </PropertyColumn>
                                        <PropertyColumn Title="Date" Property="@(p => p.SentDate)" Format="dd/MM/yyyy" Sortable="true">
                                            <ColumnOptions>
                                                <div class="search-box">
                                                    <input type="date" class="form-control" autofocus @bind="FilterMsgSentDate" @bind:event="oninput" @onkeyup="FilterMsgRefresh" @onchange="FilterMsgRefresh" />
                                                </div>
                                            </ColumnOptions>
                                        </PropertyColumn>
                                        <PropertyColumn Property="@(p => p.Message)" Sortable="true">
                                            <ColumnOptions>
                                                <div class="search-box">
                                                    <input type="search" class="form-control" autofocus @bind="FilterMsgMessage" @bind:event="oninput" placeholder="Message..." @onkeyup="FilterMsgRefresh" @onchange="FilterMsgRefresh" />
                                                </div>
                                            </ColumnOptions>
                                        </PropertyColumn>
                                        <PropertyColumn Property="@(p => p.MessageTypeID)" Sortable="true">
                                            <ColumnOptions>
                                                <div class="search-box">
                                                    <input type="search" class="form-control" autofocus @bind="FilterMsgType" @bind:event="oninput" placeholder="Message..." @onkeyup="FilterMsgRefresh" @onchange="FilterMsgRefresh" />
                                                </div>
                                            </ColumnOptions>
                                        </PropertyColumn>
                                        <PropertyColumn Property="@(p => p.AmountOffered)" Sortable="true">
                                            <ColumnOptions>
                                                <div class="search-box">
                                                    <input type="search" class="form-control" autofocus @bind="FilterMsgAmount" @bind:event="oninput" placeholder="Amount..." @onkeyup="FilterMsgRefresh" @onchange="FilterMsgRefresh" />
                                                </div>
                                            </ColumnOptions>
                                        </PropertyColumn>
                                        <PropertyColumn Property="@(p => p.IsAccepted)" Sortable="true">
                                            <ColumnOptions>
                                                <div class="search-box">
                                                    <input type="search" class="form-control" autofocus @bind="FilterMsgIsAccepted" @bind:event="oninput" placeholder="Accepted..." @onkeyup="FilterMsgRefresh" @onchange="FilterMsgRefresh" />
                                                </div>
                                            </ColumnOptions>
                                        </PropertyColumn>
                                        <PropertyColumn Property="@(p => p.MessageStatusID)" Sortable="true">
                                            <ColumnOptions>
                                                <div class="search-box">
                                                    <input type="search" class="form-control" autofocus @bind="FilterMsgStatus" @bind:event="oninput" placeholder="Status..." @onkeyup="FilterMsgRefresh" @onchange="FilterMsgRefresh" />
                                                </div>
                                            </ColumnOptions>
                                        </PropertyColumn>
                                        <PropertyColumn Title="Sent By" Property="@(p => p.From)" Sortable="true">
                                            <ColumnOptions>
                                                <div class="search-box">
                                                    <input type="search" class="form-control" autofocus @bind="FilterMsgFrom" @bind:event="oninput" placeholder="Sent By..." @onkeyup="FilterMsgRefresh" @onchange="FilterMsgRefresh" />
                                                </div>
                                            </ColumnOptions>
                                        </PropertyColumn>
                                    </QuickGrid>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md text-end">
                            <button type="button" class="btn btn-primary mb-3" @onclick="CreateMessage"><i class="fa-solid fa-envelope-open-text"></i> Send a New Message</button>
                        </div>
                    </div>
                </div>
            </div>
        </Body>
        <Footer>
            <button type="button" class="btn btn-secondary" data-dismiss="modal" @onclick="() => AdvanceToVehicle(-1)"><i class="fa-solid fa-square-caret-left"></i></button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal" @onclick="() => AdvanceToVehicle(1)"><i class="fa-solid fa-square-caret-right"></i></button>

            @if (selectedVehicleChanges?.Count > 0)
            {
                <button type="button" class="btn btn-success" data-dismiss="modal" @onclick="() => SaveVehicle(true)"><i class="fa-solid fa-floppy-disk"></i> Save and Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" @onclick="() => SaveVehicle(false)"><i class="fa-solid fa-floppy-disk"></i> Save</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" @onclick="CancelVehicleConfirm"><i class="fa-solid fa-rotate-left"></i> Cancel <strong>@(selectedVehicleChanges?.Count ?? 1)</strong> Changes</button>
            }
            else
            {
                <button type="button" class="btn btn-secondary" data-dismiss="modal" @onclick="CloseVehicle"><i class="fa-solid fa-rotate-left"></i> Close</button>
            }
        </Footer>
    </Modal>

    <Modal @ref="modalMessage">
        <Title><i class="fa-solid fa-envelope-open-text"></i> New Message to @selectedVehicle?.Forename @selectedVehicle?.Surname about @selectedVehicle?.Colour @selectedVehicle?.Make (@selectedVehicle?.RegistrationNumber)</Title>
        <Body>
            <div class="bd-callout bd-callout-primary bd-callout-grey GreyBackground">
                <div class="container">
                    <div class="row">
                        <div class="col-md">
                            <div class="row mb-3 align-items-center">
                                <div class="col-md text-center">
                                    <h4><i class="fa-solid fa-envelope-open-text"></i> New Message to @selectedVehicle?.Forename @selectedVehicle?.Surname</h4>
                                </div>
                            </div>

                            <div class="row g-3 mb-3">
                                <div class="col-md-4">
                                    <label class="col-form-label"><i class="fa-solid fa-angles-right"></i> Message Template</label>
                                </div>
                                <div class="col-md-8">
                                    <select class="form-select">
                                        <option value="">-- Choose Template --</option>
                                        <option value="InitialOffer">Email Client (initial offer email)</option>
                                        <option value="FollowUp">Attempted to Contact (follow up email)</option>
                                        <option value="AdditionalInfo">Additional Info (if they need more info)</option>
                                        <option value="FinalOffer">Final Offer (If they need to send a counter offer)</option>
                                        <option value="GoogleReview">Google Review (including offer for a prize draw)</option>
                                    </select>
                                </div>
                            </div>

                            <div class="row g-3">
                                <div class="col-md">
                                    <label class="col-form-label"><i class="fa-solid fa-note-sticky"></i> Message:</label>
                                </div>
                            </div>
                            <div class="row g-3 mb-3">
                                <div class="col-md">
                                    <Editor
                                    ScriptSrc="./lib/tinymce/tinymce.min.js"
                                    />
                                    @* <textarea class="form-control"></textarea> *@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </Body>
        <Footer>
            <button type="button" class="btn btn-secondary" data-dismiss="modal" @onclick="() => modalMessage!.Close()">Close</button>
        </Footer>
    </Modal>
}

@code {
    public EditContext? EditContextMain { get; set; }
    private FluentValidationValidator? _fluentValidationValidator;

    public string? action { get; set; }
    public string? soundEffect { get; set; }

    private Modal? modalInfo { get; set; }
    public string? msgInfoTitle = null;
    public MarkupString? msgInfo = null;

    private Modal? modalError { get; set; }
    public string? msgErrorTitle = null;
    public MarkupString? msgError = null;
    public string? msgErrorStackTrace = null;

    private Modal? modalConfirm { get; set; }
    public string? msgConfirmTitle = null;
    public MarkupString? msgConfirm = null;

    public string? loadDataErrorMsg = null;

    [Parameter]
    public int? VehicleID { get; set; }

    private List<VehicleModel>? vehicles;

    [SupplyParameterFromForm]
    public VehicleModel? selectedVehicle { get; set; } = new VehicleModel();
    private VehicleModel? _selectedVehicle { get; set; } = new VehicleModel();
    private IDictionary<string, string>? selectedVehicleChanges = new Dictionary<string, string>();

    //Related datasets
    private List<MessageModel>? selectedVehicleMessages;

    private IQueryable<VehicleModel>? FilteredVehicles =>
        (vehicles)?.AsQueryable()
        .Where(
            v => 
            (FilterMainSubmissionID == null ? true : v.SubmissionID == (FilterMainSubmissionID ?? v.SubmissionID))
            && (FilterMainSubmissionDate == null ? true : DateOnly.FromDateTime(v.submissionDate ?? DateTime.MinValue) == DateOnly.FromDateTime((DateTime)(FilterMainSubmissionDate ?? v.submissionDate)!))
            && (FilterMainSurname == null ? true : (v.Surname ?? string.Empty).Contains(FilterMainSurname, StringComparison.CurrentCultureIgnoreCase))
            && (FilterMainForename == null ? true : (v.Forename ?? string.Empty).Contains(FilterMainForename, StringComparison.CurrentCultureIgnoreCase))
            && (FilterMainEmail == null ? true : (v.Email ?? string.Empty).Contains(FilterMainEmail, StringComparison.CurrentCultureIgnoreCase))
            && (FilterMainTel == null ? true : (v.Tel ?? string.Empty).Contains(FilterMainTel, StringComparison.CurrentCultureIgnoreCase))
            && (FilterMainPostCode == null ? true : (v.PostCode ?? string.Empty).Contains(FilterMainPostCode, StringComparison.CurrentCultureIgnoreCase))
            && (FilterMainRegistration == null ? true : (v.RegistrationNumber ?? string.Empty).Contains(FilterMainRegistration, StringComparison.CurrentCultureIgnoreCase))
            && (FilterMainMake == null ? true : (v.Make ?? string.Empty).Contains(FilterMainMake, StringComparison.CurrentCultureIgnoreCase))
            && (FilterMainModel == null ? true : (v.Model ?? string.Empty).Contains(FilterMainModel, StringComparison.CurrentCultureIgnoreCase))
        );

    List<string> FiltersMain = new List<string>();
    int? FilterMainSubmissionID;
    DateTime? FilterMainSubmissionDate;
    string? FilterMainSurname;
    string? FilterMainForename;
    string? FilterMainEmail;
    string? FilterMainTel;
    string? FilterMainPostCode;
    string? FilterMainRegistration;
    string? FilterMainMake;
    string? FilterMainModel;

    List<string> FiltersMsg = new List<string>();
    int? FilterMsgMessageID;
    string? FilterMsgMessage;
    MessageType? FilterMsgType;
    decimal? FilterMsgAmount;
    bool? FilterMsgIsAccepted;
    MessageStatus? FilterMsgStatus;
    string? FilterMsgFrom;
    DateTime? FilterMsgSentDate;

    private IQueryable<MessageModel>? FilteredMessages =>
        (selectedVehicleMessages)?.AsQueryable()
        .Where(
            m =>
            m.MessageID == (FilterMsgMessageID ?? m.MessageID)
            && DateOnly.FromDateTime(m.SentDate ?? DateTime.Now)! == DateOnly.FromDateTime((DateTime)(FilterMsgSentDate ?? m.SentDate)!)
            && m.Message.ToString()!.Contains(FilterMsgMessage ?? string.Empty, StringComparison.CurrentCultureIgnoreCase)
            && m.MessageTypeID! == (FilterMsgType ?? m.MessageTypeID)
            && m.IsAccepted! == (FilterMsgIsAccepted ?? m.IsAccepted)
            && m.MessageStatusID! == (FilterMsgStatus ?? m.MessageStatusID)
            && m.From!.Contains(FilterMsgFrom ?? string.Empty, StringComparison.CurrentCultureIgnoreCase)
        );

    private string? vehicleEndPoint;

    private Modal? modalVehicle { get; set; }
    private Modal? modalMessage { get; set; }

    protected override async Task OnInitializedAsync() 
    {
        if (_selectedVehicle != null)
            EditContextMain = new EditContext(_selectedVehicle);
        
        if (EditContextMain != null)
        {
            EditContextMain.OnFieldChanged += ChangeVehicle;
        }
        _fluentValidationValidator = new FluentValidationValidator();

        bool? isError = false;
        vehicleEndPoint = $"{configuration["VehicleEndpoint"]}/FormEntries";

        try
        {
            Http.DefaultRequestHeaders.Authorization = new System.Net.Http.Headers.AuthenticationHeaderValue("Bearer", appData.CurrentUser?.Token);
            vehicles = await Http.GetFromJsonAsync<List<VehicleModel>>(vehicleEndPoint);
        }
        catch (HttpRequestException ex)
        {
            HandleJsonException(ex, "Vehicle", VehicleID.ToString() ?? "");
        }

        if (isError != true)
        {
            //Load other objects
        }
    }

    public string TableCSS(VehicleModel? context)
    {
        string css = "";
        if (context?.SubmissionID == selectedVehicle?.SubmissionID)
        {
            css = "SelectedRow";
        }

        return css;
    }

    private void FilterMainRefresh()
    {
        FiltersMain.Clear();

        if (FilterMainSubmissionID != null)
        {
            FiltersMain.Add($"ID: '{FilterMainSubmissionID.ToString()}'");
        }
        if (FilterMainSubmissionDate != null)
        {
            FiltersMain.Add($"Date: '{FilterMainSubmissionDate.Value.ToString("dd/MM/yyyy")}'");
        }
        if (FilterMainSurname != null)
        {
            FiltersMain.Add($"Surname: '{FilterMainSurname}'");
        }
        if (FilterMainForename != null)
        {
            FiltersMain.Add($"Forename: '{FilterMainForename}'");
        }
        if (FilterMainEmail != null)
        {
            FiltersMain.Add($"Email: '{FilterMainEmail}'");
        }
        if (FilterMainTel != null)
        {
            FiltersMain.Add($"Tel: '{FilterMainTel}'");
        }
        if (FilterMainPostCode != null)
        {
            FiltersMain.Add($"Post Code: '{FilterMainPostCode}'");
        }
        if (FilterMainRegistration != null)
        {
            FiltersMain.Add($"Reg No: '{FilterMainRegistration}'");
        }
        if (FilterMainMake != null)
        {
            FiltersMain.Add($"Make: '{FilterMainMake}'");
        }
        if (FilterMainModel != null)
        {
            FiltersMain.Add($"Model: '{FilterMainModel}'");
        }
    }

    private void FilterMainClear()
    {
        FilterMainSubmissionID = null;
        FilterMainSubmissionDate = null;
        FilterMainSurname = null;
        FilterMainForename = null;
        FilterMainEmail = null;
        FilterMainTel = null;
        FilterMainPostCode = null;
        FilterMainRegistration = null;
        FilterMainMake = null;
        FilterMainModel = null;

        FiltersMain.Clear();
    }

    private void FilterMsgRefresh()
    {
        FiltersMsg.Clear();

        if (FilterMsgMessageID != null)
        {
            FiltersMsg.Add($"ID: '{FilterMsgMessageID.ToString()}'");
        }
        if (FilterMsgSentDate != null)
        {
            FiltersMsg.Add($"Date: '{((DateTime)FilterMsgSentDate).ToString("dd/MM/yyyy")}'");
        }
        if (FilterMsgMessage?.Length > 0)
        {
            FiltersMsg.Add($"Message: '{FilterMsgMessage}'");
        }
        if (FilterMsgType != null)
        {
            FiltersMsg.Add($"Type: '{FilterMsgType}'");
        }
        if (FilterMsgAmount != null)
        {
            FiltersMsg.Add($"Amount: '{FilterMsgAmount.ToString()}'");
        }
        if (FilterMsgIsAccepted != null)
        {
            FiltersMsg.Add($"Accepted: '{((bool)(FilterMsgIsAccepted = true) ? "Y" : "N")}'");
        }
        if (FilterMsgStatus != null)
        {
            FiltersMsg.Add($"Status: '{FilterMsgStatus}'");
        }
        if (FilterMsgFrom != null)
        {
            FiltersMsg.Add($"Sent By: '{FilterMsgFrom}'");
        }
    }

    private void FilterMsgClear()
    {
        FilterMsgMessageID = null;
        FilterMsgMessage = null;
        FilterMsgType = null;
        FilterMsgAmount = null;
        FilterMsgIsAccepted = null;
        FilterMsgStatus = null;
        FilterMsgFrom = null;
        FilterMsgSentDate = null;

        FiltersMsg.Clear();
    }

    private async Task FormAction()
    {
        //Determine what clear form button should do on dialog box

        if (action == "ClearFormConfirm")
        {
            ClearForm();
        }
        else if (action == "CancelVehicleConfirm")
        {
            CancelVehicle();
        }
        else if (action == "DeleteVehicleConfirm")
        {
            await DeleteVehicle();
        }
        else
        {
            action = "Error";
            soundEffect = "sounds/error.mp3";

            msgErrorTitle = $"Invalid Action";
            msgError = (MarkupString)$"An invalid option was specified. Please try again.";
            msgErrorStackTrace = null;

            modalError!.Open();
        }
    }

    private void ClearFormConfirm()
    {
        action = "ClearFormConfirm";
        soundEffect = "sounds/prompt.mp3";

        msgConfirmTitle = $"Clear Form?";
        msgConfirm = (MarkupString)$"Are you sure you want to clear all information on this form?";

        modalConfirm!.Open();
    }

    private void ClearForm()
    {
        action = "ClearForm";

        selectedVehicle = new VehicleModel();

        modalConfirm!.Close();
    }

    private VehicleModel? GetVehicle(int submissionID)
    {
        return vehicles?.Where(v => v.SubmissionID == submissionID).FirstOrDefault();
    }

    private void SelectVehicle(int? submissionID)
    {
        if (submissionID != null && submissionID > 0)
        {
            selectedVehicle = GetVehicle(submissionID ?? 0);
        }
        else
        {
            selectedVehicle = new VehicleModel();
        }

        //Keep a copy of this object to be used for edit form so original object can remain untouched until save operation (otherwise it changes on screen)
        if (selectedVehicle != null)
            _selectedVehicle = selectedVehicle?.Clone();
    }

    public void AdvanceToVehicle(int numRecords)
    {
        int? currentRecordID = selectedVehicle?.SubmissionID;
        VehicleModel? nextRecord = new VehicleModel();

        if (numRecords > 0)
        {
            nextRecord =
            FilteredVehicles?
            .SkipWhile(obj => obj.SubmissionID != currentRecordID)
            .Skip(numRecords)
            .FirstOrDefault();
        }
        else if (numRecords < 0)
        {
            int numRecordsBack = Math.Abs(numRecords);
            nextRecord =
                FilteredVehicles?
                .Reverse()
                .SkipWhile(obj => obj.SubmissionID != currentRecordID)
                .Skip(numRecordsBack)
                .FirstOrDefault();
        }

        if (nextRecord != null)
        {
            if (nextRecord?.SubmissionID != null)
            {
                selectedVehicle = nextRecord;
                _selectedVehicle = nextRecord;
            }
        }
    }

    protected void ChangeVehicle(object? sender, FieldChangedEventArgs? e)
    {
        string? fieldName = e?.FieldIdentifier.FieldName;
        string? fieldValue = e?.FieldIdentifier.Model.GetType().GetProperty(fieldName ?? "")?.GetValue(_selectedVehicle)?.ToString();

        fieldValue = StringFunctions.FormatFieldChangedValue(fieldValue);

        if (selectedVehicleChanges != null && fieldName != null)
        {
            if (selectedVehicleChanges.ContainsKey(fieldName))
            {
                selectedVehicleChanges[fieldName] = fieldValue ?? "";
            }
            else
            {
                selectedVehicleChanges.Add(fieldName, fieldValue ?? "");
            }
        }
    }

    private void EditVehicle(int submissionID)
    {
        selectedVehicle = GetVehicle(submissionID);
        selectedVehicleMessages = GetMessages(submissionID);

        if (_selectedVehicle != null) {
            modalVehicle!.MakeLarge();
            modalVehicle!.Open();
        }
        else {
            action = "Error";
            soundEffect = "sounds/error.mp3";

            msgErrorTitle = $"Cannot Load Vehicle {submissionID}";
            msgError = (MarkupString)$"Unfortunately the vehicle could not be loaded due to an error.<br />Please try again.";
            msgErrorStackTrace = null;

            modalError!.Open();
        }
    }

    private async Task SaveVehicle(bool closeAfterSave)
    {
        if (_selectedVehicle != null)
        {
            
        }
    }

    private void DeleteVehicleConfirm()
    {
        if (selectedVehicle?.SubmissionID > 0)
        {
            action = "DeleteMessageConfirm";
            soundEffect = "sounds/prompt.mp3";

            msgConfirmTitle = $"Confirm Delete?";
            msgConfirm = (MarkupString)$"Are you sure you want to delete the {selectedVehicle.Make} {selectedVehicle.Model} ({selectedVehicle.RegistrationNumber})?";

            modalConfirm!.OpenOnTop1();
        }
        else
        {
            action = "Error";
            soundEffect = "sounds/error.mp3";

            msgErrorTitle = $"No Message Selected";
            msgError = (MarkupString)$"Please select a vehicle first before pressing the Delete button or if try to select one again if one had been selected.";
            msgErrorStackTrace = null;

            modalError!.Open();
        }
    }

    private async Task DeleteVehicle()
    {

    }

    private void CancelVehicleConfirm()
    {
        action = "CancelVehicleConfirm";
        soundEffect = "sounds/prompt.mp3";

        string? numberOfChanges = $"{selectedVehicleChanges?.Count} {(selectedVehicleChanges?.Count == 1 ? "Change" : "Changes")}";
        string? listOfChanges = selectedVehicleChanges?.Select(x => $"<li>{x.Key}: {x.Value}</li>").Aggregate((x, y) => $"{x}{y}"); //Aggregation in case of duplication

        msgConfirmTitle = $"Confirm Cancel?";
        msgConfirm = (MarkupString)$@"
            <p>
                You have made the following changes:<br />
                - Vehicle: {numberOfChanges}:
                <ul>
                {listOfChanges}
                </ul>
            </p>
            <p>
                Are you sure you want to cancel and lose these changes?
            </p>";

        modalConfirm!.OpenOnTop1();
    }

    private void CancelVehicle()
    {
        CloseVehicle();
    }

    private void CloseVehicle() 
    {
        modalVehicle!.Close();

        selectedVehicleChanges?.Clear();
    }

    private List<MessageModel>? GetMessages(int submissionID)
    {
        List<MessageModel> messages = new List<MessageModel>
        {
            new MessageModel { MessageID = 1, Message = "The best offer I can give you", MessageTypeID = MessageType.ToCustomer, AmountOffered=250, IsAccepted = false, MessageStatusID = MessageStatus.Sent, From = "robin.wilson@robindigital.co.uk", SentDate = DateTime.Now},
            new MessageModel { MessageID = 2, Message = "An even better offer", MessageTypeID = MessageType.ToCustomer, AmountOffered=350, IsAccepted = false, MessageStatusID = MessageStatus.Sent, From = "robin.wilson@robindigital.co.uk", SentDate = DateTime.Now},
            new MessageModel { MessageID = 3, Message = "Final offer", MessageTypeID = MessageType.ToCustomer, AmountOffered=500, IsAccepted = true, MessageStatusID = MessageStatus.Sent, From = "robin.wilson@robindigital.co.uk", SentDate = DateTime.Now}
        };

        return messages;
    }

    private void CreateMessage() 
    {
        modalMessage!.MakeLarge();
        modalMessage!.Open();
    }

    private void HandleJsonException(HttpRequestException ex, string objectName, string objectID)
    {
        if (ex.Message.Contains(HttpStatusCode.Unauthorized.ToString()))
        {
            loadDataErrorMsg = $"You are not authorised to view this page";

            //Redirect to login screen
            NavManager.NavigateTo($"Login/Vehicles");
        }
        else if (ex.Message.Contains("404 (Not Found)"))
        {
            loadDataErrorMsg = $"The {objectName} \"{objectID}\" is not found";
        }
        else if (ex.Message.Contains("400 (Bad Request)"))
        {
            loadDataErrorMsg = $"The {objectName} \"{objectID}\" resulted in an invalid request";
        }
        else
        {
            loadDataErrorMsg = $"Error: {ex.Message}";
        }
    }
}
